.icon-data span {
  padding-left: 20px;
}

.icon-data i {
  font-size: 1.4rem;
  color: teal;
}

@media (max-width: 900px) {
  .icon-data {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icon-data span {
    padding-left: 5px;
  }
}
