.portfolio {
  padding: 30px;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 10px 6px -6px #777;
}

.portfolio .main-content {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.portfolio .left-content {
  flex: 1;
  margin-right: 20px;
}

.portfolio .right-content {
  flex: 1;
  margin-left: 20px;
  padding: 20px;
}

@media (max-width: 900px) {
  .portfolio .main-content {
    display: flex;
    flex-direction: column;
  }
}
