@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
  color: #777;
  background-color: #faf9f9;
  padding: 50px;
}

.primary-color {
  color: teal;
}

h1 {
  font-size: 3.5rem;
  font-weight: 400;
  color: teal;
  line-height: 1.1;
  letter-spacing: 0.1rem;
}

h2 {
  font-size: 2.6rem;
  font-weight: 700;
  color: teal;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
}

h4 {
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 700;
}
p {
  font-size: 1.2rem;
  color: #353535;
}

.flex-row {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 00.1rem;
  color: #212529;
  line-height: 2rem;
}

.company,
.institute,
.achievement,
.club {
  margin-top: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #212529;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.achievement-content {
  margin-bottom: 20px;
}

.period,
.location {
  font-size: 1.1rem;
  font-style: italic;
  letter-spacing: 0.1rem;
}

.description {
  font-size: 1.1rem;
  font-style: italic;
}

.task {
  font-size: 1.1rem;
  color: #353535;
}

.subjects-content {
  font-size: 1.1rem;
  color: #353535;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 650px) {
  h1 {
    font-size: 2.6rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.4rem;
    font-weight: 700;
    color: #212529;
    line-height: 1.4rem;
  }

  .company,
  .institute,
  .club {
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 400;
    color: #212529;
  }

  .achievement {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  .period,
  .location {
    font-size: 0.9rem;
    font-style: italic;
    letter-spacing: 0.1rem;
  }

  .description {
    font-size: 0.8rem;
    font-style: italic;
  }

  .task {
    font-size: 0.8rem;
  }

  .subjects-content {
    font-size: 0.8rem;
    color: #353535;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.8rem;
  }

  h2 {
  }
}
