@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 62.5%;
  line-height: 1.7;
  color: #777;
  background-color: #faf9f9;
  padding: 50px;
}

.primary-color {
  color: teal;
}
